body {
  background-color:#0b0f16;
}

header {
  position:absolute;
  top:0;
  left:0;
  background-color:black;
  color:gold;
  width:100%;
  height:9%;
  font-family:'Josefin Sans';
  text-align:center;
}
.subhead{
  position:fixed;
  top:91%;
  display:inline-block;
  height:9%;
  font-family:'Josefin Sans';
  width:98%;
  color:gold;
  background-color:black;

}
.contact{
  float: right;

}
.socialIMG {
  border:1px solid white;
  width:25px;
  height:25px;
}
.social {
  float:left;

}
a{
  color:gold;
  text-decoration:none;
}
a:visited{
  color:gold;
  text-decoration:none;
}
a:hover{
  color:orange;
  text-decoration:underline;
}


article {
  position:absolute;
  width:100%;
  top:11.5%;
  left:0;
  font-family:'Josefin Sans';
  text-align:center;
  
}

.photo-post {
  display:flex;
  text-align:center;
  justify-content:center;
}

.caption {
  display:flex;
  text-align:center;
  justify-content:center;
  font-family:'Josefin Sans';
}

