body {
  background-color:#ac855a;
  color:black;

}

a:link {
  color:black;
}
a:hover {
  color:darkblue;
}
a:visited {
  color:black;
}

th {
  font-weight:bold;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  border: 1px solid #000000;
}
th {
  border: 1px solid #000000;
}

.head {
  font-size:2.5em;
  font-family:sans-serif;
  text-align:center;
}
